:root {
  --backgroundColor: #0093e9;
  --textColor: black;
}

html {
  scroll-behavior: smooth;
  font-size: calc(14px + (18 - 11) * ((100vw - 320px) / (1936 - 320)));
  color: var(--textColor);
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  display: flex;
  flex-direction: row;
}

nav {
  min-width: 20vw;
  border-left: 0.75vw solid black;
  border-right: 0.75vw solid black;
  padding: 0 5% 0 10%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88.5%;
  border-bottom: 2px solid black;
  min-height: 100px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

header h1 {
  font-weight: 700;
}

ul {
  display: flex;
  gap: 2rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding-top: 120px;
}

main::after {
  padding-top: 50px;
}

#intro {
  display: flex;
  font-size: calc(32px + (180 - 32) * ((100vw - 320px) / (1936 - 320)));
}

#intro p {
  flex-direction: column;
}

#intro img {
  width: 40%;
  height: 40%;
}

#theOnly {
  padding-top: 20%;
  padding-left: 10%;
}

section {
  display: flex;
  min-height: 350px;
  padding: 5rem 8rem 0 6rem;
}

section p {
  padding: 0 1rem 0 1rem;
}

#about-me h2,
#contact h2 {
  padding-right: 1rem;
  border-right: 3px solid black;
}

#projects h2 {
  padding-left: 1rem;
  border-left: 3px solid black;
}

h2 {
  font-size: calc(24px + (150 - 32) * ((100vw - 320px) / (1936 - 320)));
}

#projects div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.projectImg {
  max-height: 75%;
  max-width: 75%;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h3 {
  font-size: calc(10px + (75 - 32) * ((100vw - 320px) / (1936 - 320)));
  padding-bottom: 2rem;
}

form div {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0;
}

footer {
  padding-top: 3rem;
  text-align: center;
  min-height: 50px;
}
